<div class="container mt-4">
  <form autocomplete="off" [formGroup]="formSettings">

    <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="name" formControlName="name"
        [ngClass]="{'is-invalid': validateName('name')}">
      <span class="form-text text-danger" *ngIf="validateName('name')">{{nameFormErrorText}}</span>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email"
        [ngClass]="{'is-invalid': validateEmail('email')}">
      <span class="form-text text-danger" *ngIf="validateEmail('email')">{{emailFormErrorText}}</span>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="password" formControlName="password"
        [ngClass]="{'is-invalid': validatePassword('password')}">
      <span class="form-text text-danger" *ngIf="validatePassword('password')">{{passwordFormErrorText}}</span>
    </div>

    <button type="submit" class="btn btn-primary" (click)="saveForm()" [disabled]="!formSettings.valid">Submit</button>

  </form>
</div>

<hr>

<p>Form Value: {{ formSettings.value | json }}</p>

<p>Form Status: {{ formSettings.status }}</p>

<p>Form Name: {{ formSettings.controls['name'].errors | json }}</p>
<p>Form Email: {{ formSettings.controls['email'].errors | json }}</p>
<p>Form Password: {{ formSettings.controls['password'].errors | json }}</p>